@import "./../../scss/breakpoints";
@import "./../../scss/colors";

.property-info {
  color: $font-color;

  .description,
  .work-prices {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;

  .export-button {
    margin-top: 10px;
    margin-right: 20px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
    }

    .loading {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.react-tabs__tab-list {
  margin: 20px 0px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tabs__tab {
  display: flex;
  flex-direction: column;
  padding: 12px 28px;
  color: #303236;
  font-weight: 700;
  border: none;
  transition: 0.2s;

  &:hover {
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  &:focus {
    box-shadow: none;
  }

  img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.react-tabs__tab--selected {
  border: none;
  border-radius: 0;
  color: #428bff;

  img {
    background-image: url(../../assets/icons/bathtub-blue.svg);
  }
}

@include mobile-tablet {
  .react-tabs__tab {
    padding: 8px 16px;
  }
}
