.react-tabs__tab-list {
  margin: 20px 0px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tabs__tab {
  display: flex;
  flex-direction: column;
  padding: 12px 28px;
  color: #303236;
  font-weight: 700;
  border: none;
  transition: 0.2s;

  &:hover {
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  &:focus {
    box-shadow: none;
  }

  img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.react-tabs__tab--selected {
  border: none;
  border-radius: 0;
  color: #428bff;

  img {
    background-image: url(../../assets/bathtub-blue.svg);
  }
}
