@import "./../../scss/colors";

.property-info {
  color: $font-color;

  display: flex;

  .description,
  .work-prices {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .work-prices {
    align-items: center;
  }
}
.button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
