.input-group {
  display: flex;
  // width: 450px;
  padding-bottom: 12px;
  label {
    width: 60%;
  }
  input {
    width: 30%;
    padding: 0;
  }
  span {
    margin-left: 5px;
    width: 10%;
    cursor: default;
  }
}
