.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 400px;

  .prices {
    background: #ececec;
    border: 1px solid #428bff;
    padding: 15px 30px 5px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
  }

  .input-group .input {
    cursor: default;
  }
}

.total-sum {
  background: #428bff;
  padding: 15px 30px 5px 30px;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #428bff;
  width: 100%;

  .input {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

    &:focus {
      outline: none;
      border-color: #000000;
    }
  }
}
